<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Taylan Aydınlı</title>
  <meta name="description" content="Taylan Aydınlı">
  <meta name="author" content="Taylan Aydınlı">

  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
h1.title { text-align: center; font-family: Consolas, fixed-width; }
.icons { margin-top: 70px; }
.icon {text-align: center; font-size: 1.5em; }
a { color: black; }
</style>
</head>

<body>
  <div class="pure-g">
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1-2 content">
        <div class="pure-g">
            <div class="pure-u-1"><h1 class="title">hi, i'm taylan</h1></div>
            <div class="pure-u-1 icons">
                <div class="pure-g">
                    <div class="pure-u-1-5 icon"><a title="Email" href="mailto:taylanaydinli@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
                    <div class="pure-u-1-5 icon"><a title="GitHub" href="https://github.com/taylan"><i class="fa fa-github" aria-hidden="true"></i></a></div>
                    <div class="pure-u-1-5 icon"><a title="Facebook" href="https://fb.com/taylanaydinli"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
                    <div class="pure-u-1-5 icon"><a title="LinkedIn" href="https://www.linkedin.com/in/taylanaydinli/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
                    <div class="pure-u-1-5 icon"><a title="Goodreads" href="https://www.goodreads.com/user/show/10831552-taylan"><i class="fa fa-book" aria-hidden="true"></i></a></div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-4"></div>
</div>
</body>
</html>